<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block head %}
      <title>Edicarla Silva</title>
    {% endblock %}

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <nav class="menu">
        <ul class="menu-list">
          <li>
            <a href="/">Sobre</a>
          </li>
          <li>
            <a href="/portfolio">Aulas</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock %}

  </body>

</html>