{% extends "layout.njk" %}

{% block head %}

  <title>{{items.title}}</title>

{% endblock %}

{% block content %}
  <section class="title-align">
    <h1>{{items.title}}</h1>
  </section>
  <section class="content">
    <div class="video ">
      <div class="card" id="{{items.id}}">
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/{{items.id}}" frameborder="0"></iframe>
        </div>
        <div class="card-body">
          <div class="card-content">
            <p>{{items.title}}</p>
          </div>
          <div class="card-info">
            <p>{{items.duration}}</p>
            <p class="price">{{items.price}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}